@use '../../styles/variables.scss' as v;

.cart {
    width: fit-content;
    cursor: pointer;
    position: relative;

    div {
        color: black !important;
    }

    svg {
        width: 2rem;
        height: 2rem;
        color: white;
    }

    article {
        background-color: v.$colorAccent;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        @include v.flexcenter();
        position: absolute;
        right: -3px;
        bottom: 3px;
    }
}

.submit {
    width: 100% !important;
    margin-top: 15px !important;
}
