.filter {
    position: relative;
    z-index: 998;
    width: fit-content;

    ul {
        list-style: none;
        
        a {
            color: white;
        }
    }
}

.filterBtnContainer {
    display: flex;
}

.search {
    max-height: 2.5rem;
    margin-bottom: 1rem;
}

.filterBtn {
    position: absolute;
    z-index: 999;
    top: 10%;
    margin-left: 5%;
}