@use 'styles/variables.scss' as v;

.filter {
  position: relative;
  z-index: 997;
  width: fit-content;
  margin-top: 5rem;

  ul {
    list-style: none;

    a {
      color: v.$colorDark;
    }
  }
}

.filterBtnContainer {
  display: flex;
}

.search {
  max-height: 4rem;
  margin-bottom: 1rem;
}
