@use '../../styles/variables.scss' as v;

.product {
    color: v.$colorDark;

    h3 {
        text-transform: capitalize;
    }

    p {
        * {
            font-weight: 100;
            text-align: left;
            font-size: 18px;
            line-height: 150%;
        }
    }

    .productImage {
        width: 100%;
    }

    .addTo {
        max-width: 200px;
    }
}