.quoteProduct {
    height: 10rem;
    display: flex;
    margin: 1rem 0;

    .quoteImage {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    p {
        font-weight: bold;
        text-transform: capitalize;
    }
}