@use '../../styles/variables.scss' as v;

.cartItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    color: black !important;
}

.controls {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;

    div {
        margin: 0.5rem 0;
    }
    
}

.delete {
    color: black !important;
    align-self: flex-end;

    &:hover {
        color: black !important;
    }
}
