@use './variables.scss' as v;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.container, .container-fluid {
  background-color: black;
}

.container-fluid {
  overflow: hidden;
}

* {
  box-sizing: content-box;
  @include v.fontBody();
}

h1, h2, h3, h4, h5, h6 {
  @include v.fontHeading();
}