@use './typography.scss' as t;

$colorPrimary: #1f285d;
$colorAccent: #5065AB;
$colorDark: #111111;
$colorBlack: #000000;
$colorGrayNeutral: #7a7a7a;

@mixin fontHeading {
    font-family: t.$markPro;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($justification: space-evenly, $alignment: center, $dir: row, $gap: 1em) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $dir;
    justify-content: $justification;
    align-items: $alignment;

    @supports (gap: $gap) {
        gap: $gap;
    }

    @supports not (gap: $gap) {
        & > *:nth-child(n) {
            margin-right: $gap;
            margin-bottom: $gap;
        }
    }
}